{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'homeStyle.css' %}">
{% endblock %}
{% block content %}
<div id="container">
    <div class="item">
        <div class="sidebar_component">
            <div id="pubs">
                <h5>Top Pubs</h5>
                {% if top5_pubs %}
                    {% for pub in top5_pubs %}
                        <p><a href="{% url 'pub_review:pubDetail' pub.id %}">{{ pub.pubName }}</a></p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="sidebar_component">
            <div id="reviews">
                    <h5>Recent Reviews</h5>
                    {% if recent_reviews %}

                    {% for review in recent_reviews %}
                        <p><a href="{% url 'pub_review:reviewDetail' pub_id=review.pub.id review_id=review.id %}">{{ review.subject }}</a></p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="item">
        {% if top_pub %}
        <div id="map">
            <h4>Top Rated Pub: <a href="{% url 'pub_review:pubDetail' top_pub.id %}">{{ top_pub.pubName }}</a></h4>
            <iframe src={{mapURL}} title="Top Pub" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
