{% extends 'base.html' %}
{% block content %}
<div class="container my-3">

<!-- Question Object -->
  <h2 class="border-bottom py-2">{{ question.subject }}</h2>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text" style="white-space: pre-line;">
        {{ question.content }}
      </div>
      <div class="d-flex justify-content-end">
        <div class="badge badge-light p-2 text-left">
          <div class ="mb-2">{{ question.author.username }}</div>
          <div>{{ question.create_date }}</div>
        </div>
      </div>
      {% if request.user == question.author %}
        <div class="my-3">
          <a href="{% url 'pub_review:Pub_Question_modify' pub_id=pub.id Pub_Question_id=question.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
          <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'pub_review:Pub_Question_delete' pub_id=pub.id Pub_Question_id=question.id %}">Delete</a>
        </div>
      {% endif %}
    </div>
  </div>
<!-- Question Object End -->

<!-- Answer Object -->
  <h5 class="border-bottom my-3 py-2">
    There are {{ question.pub_answer_set.count }} answers
  </h5>
  {% for answer in question.pub_answer_set.all %}
    <div class="card my-3">
      <div class="card-body">
        <div class="card-text" style="white-space:pre-line;">
          {{ answer.content }}
        </div>
        <div class="d-flex justify-content-end">
          <div class="badge badge-light p-2">
            {{ answer.create_date }}
          </div>
        </div>
        {% if request.user == answer.author %}
        <div class="my-3">
          <a href="{% url 'pub_review:Pub_Answer_modify' pub_id=pub.id Pub_Question_id=question.id Pub_Answer_id=answer.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
          <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'pub_review:Pub_Answer_delete' pub_id=pub.id Pub_Question_id=question.id Pub_Answer_id=answer.id %}">Delete</a>
        </div>
      {% endif %}
      </div>
    </div>
  {% endfor %}
<!-- Answer Object End -->

<!-- Post Answer -->
  <form action="{% url 'pub_review:Pub_Answer_create' pub_id=pub.id Pub_Question_id=question.id %}" method = 'post' class ="my-3">
    {% csrf_token %}

<!-- Function : Handle None value error -->
    {% if form.errors.content %}
    <div class="alert alert-danger" role="alert">
      {% for field in form %}
        {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors }}
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

<!-- Function End -->
    <div class = "form-group">
      <textarea name="content" id="content" class="form-control" rows="10"></textarea>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("Do you want to delete it?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}