{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottm pb-2">Post a Review</h5>


    <form method="post" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
<!-- Function : Handle wrong input errors -->
    {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}  <!-- Print error -->
        <div class="alert alert-danger">
            <strong>{{ field.label }}</strong>
            {{ error }}
        </div>
    {% endfor %}
    {% endfor %}
{% for error in form.non_field_errors %}   <!-- Print Non-field error -->
    <div class="alert alert-danger">
        <strong>{{ error }}</strong>
    </div>
{% endfor %}
{% endif %}
<!-- Function End -->

<!-- Input Section -->
        <div class = "form-group">
            <label for="subject">Title</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.value|default_if_none:''}}">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.value|default_if_none:''}}</textarea>
        </div>
        <div class = "form-group">
            <label for="picture">Picture</label>
            <input type="file" class="form-control" name="picture" id="picture" value="{{ form.picture.value|default_if_none:''}}">
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>

</div>
{% endblock %}